!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title UrlShortener
    = csrf_meta_tags
    %link{ type:  'text/css', rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      = render partial: 'layouts/header'
    .main.text-center
      = yield
    %footer
      = render partial: 'layouts/footer'
